.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}
.life{
    background-color: #73b76e;
}
.lifeButton{
    position: relative;
}